@model	ProfileManagerModel
	<div class="modal fade" id="EditModal-@Model.Id" data-bs-backdrop="false" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="EditModalLabel">Cập Nhật Tài Khoản</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-action="Edit" method="post">
						<div class="mb-3">
							<input type="hidden" asp-for="Id" />
							<label asp-for="Email" for="addEmail" class="form-label">Email</label>
							<input asp-for="Email" type="email" class="form-control" id="addEmail"required>
								
						</div>
						<div class="mb-3">
							<label asp-for="MaSo" for="addId" class="form-label">Mã số</label>
							<input asp-for="MaSo" type="text" class="form-control" id="addId" required>
						</div>
						<div class="mb-3">
							<label asp-for="TenDayDu" for="addFullName" class="form-label">Tên đầy đủ</label>
							<input asp-for="TenDayDu" type="text" class="form-control" id="addFullName" required>
						</div>
						<div class="mb-3">
							<label asp-for="SoDienThoai" for="addPhone" class="form-label">Số điện thoại</label>
							<input asp-for="SoDienThoai" type="text" class="form-control" id="addPhone" required>
						</div>
						<div class="mb-3">
							<label asp-for="VaiTro" for="addRole" class="form-label">Vai trò</label>
							<select asp-for="VaiTro" class="form-select" id="addRole" required>
								<option value="" disabled selected>Chọn vai trò</option>
								<option value="Cố vấn học tập">Cố vấn học tập</option>
								<option value="Sinh viên">Sinh viên</option>
								<option value="Khoa CNTT">Khoa CNTT</option>
							</select>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
							<button type="submit" class="btn btn-primary">Cập Nhật</button>
						</div>
					</form>
				</div> 
		</div>
	</div>