<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"  />
    <title>@ViewData["Title"] - CAPSTONE_TEAM01_2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CAPSTONE_TEAM01_2024.styles.css" asp-append-version="true" />
</head>

<body>
    <!--Content of pages-->
    <div class="container-fluid" id="Content_Page">
        <img src="~/Resources/Img/backgroundVL.jpg" 
             style="height: 100vh;
                    width: inherit;
                    position: absolute;
                    z-index: -1;">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function Hovered(x) {
            x.style.height = "450px";
            x.style.width = "450px";
            x.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
            x.style.border = "5px solid gray";           
        }
        function Unhovered(x) {
            x.style.height = "400px";
            x.style.width = "400px";
            x.style.backgroundColor = "rgba(128, 128, 128, 0.3)";
            x.style.border = "5px solid gray";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
