<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"  />
    <title>@ViewData["Title"] - CAPSTONE_TEAM01_2024</title>
    
    <link rel="stylesheet" href="~/CAPSTONE_TEAM01_2024.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow" id="Login_Top_Nav" style="height:8vh;">
            <!-- Logo and name / Left navbar -->
            <div class="container-fluid">
                <img src="~/Resources/Img/logoVL.png" class="brand-image elevation-3" style="width: 50px; height: auto;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b class="m-2 text-white text-center">QUẢN LÝ CÔNG TÁC<br>CỐ VẤN HỌC TẬP</b></a>

                <!-- Space coz im clueless -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                </div>

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <li class="user-panel mt-1 pb-1 mb-1 d-flex">
                        <div class="image">
                            <img src="~/Resources/Img/user2-160x160.jpg" class="rounded-circle elevation-2" alt="User Image" style="width: 50px; height: auto;">
                        </div>
                        <div class="info" style="padding-right:1rem">
                            <a class="text-white d-block" href="#">@User.Identity!.Name</a>
                        </div>
                        <div>
                            <form class="form-inline" asp-action="logout" asp-controller="users">
                                <button type="submit"
                                        class="nav-link btn btn-link btn-dark text-white float-right"
                                        style="height:50%;"
                                        id="logoutButton">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Content of pages-->
    <div class="container-fluid d-flex flex-collumn" id="Content_Display">
            <!--Side Navbar-->
        <div class ="p-1 box-shadow" id="SideNav" style="border-right: 3px solid crimson;">
            <ul class="navbar-nav">
                <li class="nav-item text-start m-1">
                    <a class="row d-flex nav-link text-dark justify-content-center align-items-center"
                       asp-area="" asp-controller="Home" asp-action="HomePage"
                       style="text-decoration:none">
                        <div class="col-2">
                            <img src="~/Resources/Img/Icon3.png"
                                 style="width:40px; height:auto;">
                        </div>
                        <div class="col-8 fs-6">
                            TRANG CHỦ
                        </div>
                    </a>
                </li>
                <li class="nav-item text-start m-1">
                    <a class="row d-flex nav-link text-dark justify-content-center align-items-center"
                       asp-area="" asp-controller="ProfileManager" asp-action="ProfileManager"
                       style="text-decoration:none">
                        <div class="col-2">
                            <img src="~/Resources/Img/Icon2.png"
                                 style="width:40px; height:auto;">
                        </div>
                        <div class="col-8 fs-6">
                            QUẢN LÝ TÀI KHOẢN
                        </div>
                    </a>
                </li>
                <li class="nav-item text-start m-1">
                    <div class="row d-flex nav-link text-dark justify-content-center align-items-center"
                         style="text-decoration:none">
                        <div class="col-2">
                            <img src="~/Resources/Img/Icon1.png"
                                 style="width:40px; height:auto;">
                        </div>
                        <div class="col-8 fs-6 btn menu-btn fw-bold text-dark text-start">                                                     
                            DANH MỤC 
                            <div id="Dropdown_down"
                                 style="display:inline-block; float:right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                </svg>
                            </div>
                        </div>
                        <!-- Show More Menu -->
                        <div id="Category_Content"
                             class="menu-content ms-auto"
                             style="display:none;width:90%">
                            <a class="row d-flex nav-link text-dark m-1 justify-content-center align-items-center m-0 p-1"
                               asp-area="" asp-controller="Categories" asp-action="SchoolYear"
                               style="text-decoration:none;">
                                <div class="col-2">
                                    <img src="~/Resources/Img/Icon5.png"
                                         style="width:30px; height:auto;">
                                </div>
                                <div class="col-10">
                                    Năm Học
                                </div>
                            </a>
                            <a class="row d-flex nav-link text-dark m-1 justify-content-center align-items-center m-0 p-1"
                               asp-area="" asp-controller="Categories" asp-action="SemesterPlan"
                               style="text-decoration:none">
                                <div class="col-2">
                                    <img src="~/Resources/Img/Icon7.jpg"
                                         style="width:30px; height:auto;">
                                </div>
                                <div class="col-10">
                                    Kế Hoạch Học Kỳ
                                </div>
                            </a>
                            <a class="row d-flex nav-link text-dark m-1 justify-content-center align-items-center m-0 p-1"
                               asp-area="" asp-controller="Categories" asp-action="EndSemesterReport"
                               style="text-decoration:none">
                                <div class="col-2">
                                    <img src="~/Resources/Img/Icon6.jpg"
                                         style="width:30px; height:auto;">
                                </div>
                                <div class="col-10">
                                    Báo Cáo Cuối Kì
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item text-start m-1">
                    <a class="row d-flex nav-link text-dark justify-content-center align-items-center"
                       asp-area="" asp-controller="Statistics" asp-action="ShowStatistics"
                       style="text-decoration:none">
                        <div class="col-2">
                            <img src="~/Resources/Img/Icon4.png"
                                 style="width:40px; height:auto;">
                        </div>
                        <div class="col-8 fs-6">
                            THỐNG KÊ
                        </div>
                    </a>
                </li>
            </ul>
        </div>
            <!--Content of page-->
            <div id="Content_Panel" style="z-index:1; overflow:auto">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
    </div>
       
    <!--Footer-->
    <footer class="border-top text-muted">
        <div class="container-fluid" id="Main_Footer">
            <div style="float:left; display:inline;">
                <b style="color:#d72235;">&copy; 2024 - Đại học Văn Lang<br></b>
                <b>Khoa Công Nghệ Thông Tin</b>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //persistent drop down
        document.addEventListener("DOMContentLoaded", function () {
            const categoryContent = document.getElementById("Category_Content");
            const savedState = sessionStorage.getItem("CategoryVisibility");

            if (savedState) {
                categoryContent.style.display = savedState;
            }

            // Remove the hidden class after setting the display state
            categoryContent.classList.remove("hidden");

            document.querySelector(".menu-btn").addEventListener("click", function () {
                if (categoryContent.style.display === "none" || categoryContent.style.display === "") {
                    categoryContent.style.display = "block";
                    sessionStorage.setItem("CategoryVisibility", "block");
                } else {
                    categoryContent.style.display = "none";
                    sessionStorage.setItem("CategoryVisibility", "none");
                }
            });

            var url = window.location.href;
            var key = url.substring(url.lastIndexOf('/'), url.length);

            var navLinks = document.querySelectorAll('#Content_Display #SideNav a');
            var old = Array.from(navLinks).find(link => link.getAttribute('style') != '');
            if (old != null)
                old.setAttribute('style', '');

            var current = Array.from(navLinks).find(link => link.href.includes(key));
            current.setAttribute('style', 'border: 5px solid #d72235;');

        });

        //clear session data when logout
        document.addEventListener("DOMContentLoaded", function () {
            const logoutButton = document.getElementById("logoutButton");

            if (logoutButton) {
                logoutButton.addEventListener("click", function () {
                    sessionStorage.clear();
                });
            }
        });
//For Adding in SchoolYear
        // Get the modal
        var modal = document.getElementById("AddModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // Function to open the modal
        function openModal() {
            modal.style.display = "block";
        }

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal();
            }
        }
//For Delete Confirmation in SchoolYear
        // Get the modal
        var confirmModal = document.getElementById("confirmDeleteModal");
        var deleteId = 0;

        // Function to open the confirmation modal
        function openConfirmModal(id) {
            deleteId = id;
            confirmModal.style.display = "block";
        }

        // Function to close the confirmation modal
        function closeConfirmModal() {
            confirmModal.style.display = "none";
        }

        // Function to confirm deletion
        function confirmDelete() {
            // Create a form to submit the deletion request
            var form = document.createElement("form");
            form.method = "post";
            form.action = "/Categories/DeleteAcademicYear";

            // Add the id input to the form
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = "id";
            input.value = deleteId;
            form.appendChild(input);

            // Append the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == confirmModal) {
                closeConfirmModal();
            }
        }
//For Edit in SchoolYear
        // Get the edit modal
        var editModal = document.getElementById("editModal");

        // Function to open the edit modal
        function openEditModal(id, year, semester) {
            document.getElementById("editId").value = id;
            document.getElementById("editYear").value = year;
            document.getElementById("editSemester").value = semester;
            editModal.style.display = "block";
        }

        // Function to close the edit modal
        function closeEditModal() {
            editModal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == editModal) {
                closeEditModal();
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
