<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"  />
    <title>@ViewData["Title"] - CAPSTONE_TEAM01_2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CAPSTONE_TEAM01_2024.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow" id="Login_Top_Nav" style="height:8vh;">
            <!-- Logo and name / Left navbar -->
            <div class="container-fluid">
                <img src="~/Resources/Img/logoVL.png" class="brand-image elevation-3" style="width: 50px; height: auto;>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b class="m-2 text-white text-center">QUẢN LÝ CÔNG TÁC<br>CỐ VẤN HỌC TẬP</b></a>

                <!-- Space coz im clueless -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                </div>

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <li class="user-panel mt-1 pb-1 mb-1 d-flex">
                        <div class="image">
                            <img src="~/Resources/Img/user2-160x160.jpg" class="rounded-circle elevation-2" alt="User Image" style="width: 50px; height: auto;">
                        </div>
                        <div class="info">
                            <a class="text-white d-block" href="#">@User.Identity!.Name</a>
                            <form class="form-inline" asp-action="logout" asp-controller="users">
                                <button type="submit" 
                                        class="nav-link btn btn-link btn-dark text-white float-right"
                                        style="height:50%;">
                                Logout
                            </button>
                        </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Content of pages-->
    <div class="container-fluid d-flex flex-collumn" id="Content_Display">
            <!--Side Navbar-->
        <div class ="p-3 box-shadow" id="SideNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item text-center p-2 m-2">
                        <a class=" row d-flexnav-link  text-dark" 
                           asp-area="" asp-controller="Home" asp-action="HomePage"
                           style="text-decoration:none">
                            <div class=" col-2">
                                <img src="~/Resources/Img/Icon2.png" 
                                     style="width:40px;
                                            height:auto;
                                            padding-right:0.5rem;">
                            </div>
                        <div class="col-8 fs-6">
                                TRANG CHỦ
                            </div>
                        </a>
                    </li>
                <li class="nav-item text-center p-2 m-2">
                    <div class="row d-flex nav-link text-dark" style="text-decoration:none">
                        <div class="col-2">
                            <img src="~/Resources/Img/Icon1.png" style="width:40px; height:auto; padding-right:0.5rem;">
                        </div>
                        <div id="dropdownMenuLink" class="col-8 fs-6 btn dropdown-toggle fw-bold" role="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                            DANH MỤC
                        </div>
                        <div class="dropdown-menu p-2 m-2" aria-labelledby="dropdownMenuLink" style="width:inherit;">
                            <a class="dropdown-item text-black fw-bold" asp-controller="Categories" asp-action="SchoolYear">
                                <img src="~/Resources/Img/Icon1.png" style="width:30px; height:auto; padding-right:0.5rem;">
                                Năm Học
                            </a>
                            <a class="dropdown-item text-black fw-bold" asp-controller="Categories" asp-action="SemesterPlan">
                                <img src="~/Resources/Img/Icon1.png" style="width:30px; height:auto; padding-right:0.5rem;">
                                Kế Hoạch Học Kỳ
                            </a>
                            <a class="dropdown-item text-black fw-bold" asp-controller="Categories" asp-action="EndSemesterReport">
                                <img src="~/Resources/Img/Icon1.png" style="width:30px; height:auto; padding-right:0.5rem;">
                                Báo Cáo Cuối Kì
                            </a>
                            <a class="dropdown-item text-black fw-bold" asp-controller="Categories" asp-action="Statistics">
                                <img src="~/Resources/Img/Icon1.png" style="width:30px; height:auto; padding-right:0.5rem;">
                                Thống Kê
                            </a>
                        </div>
                    </div>
                </li>
                        @* <li class="nav-item text-center">
                        <div class ="dropdown show">
                        <a class="row text-dark btn dropdown-toggle fw-bold"
                               id="dropdownMenuLink"                            
                               href="#" role="button" 
                               data-toggle="dropdown" 
                               aria-haspopup="true" 
                               aria-expanded="false"
                               data-bs-toggle="dropdown"
                               style="width:100%;">
                            <div class=" col-2">
                                <img src="~/Resources/Img/Icon1.png"
                                     style="width:40px;
                                            height:auto;
                                            padding-right:0.5rem;">
                            </div>
                            <div class="col-8 fs-6" style="text-decoration:none">
                                DANH MỤC
                            </div>
                            </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:100%; left:2rem">
                                <a class="dropdown-item text-black fw-bold" 
                                   asp-controller="Categories" 
                                   asp-action="SchoolYear">
                                   <img src="~/Resources/Img/Icon1.png"
                                     style="width:30px;height:auto;padding-right:0.5rem;">
                                   Năm Học
                               </a>
                                <a class="dropdown-item text-black fw-bold"
                                   asp-controller="Categories"
                                   asp-action="SemesterPlan">
                                   <img src="~/Resources/Img/Icon1.png"
                                        style="width:30px;height:auto;padding-right:0.5rem;">
                                   Kế Hoạch Học Kỳ
                               </a>
                                <a class="dropdown-item text-black fw-bold"
                                   asp-controller="Categories"
                                   asp-action="EndSemesterReport">
                                   <img src="~/Resources/Img/Icon1.png"
                                        style="width:30px;height:auto;padding-right:0.5rem;">
                                   Báo Cáo Cuối Kì
                               </a>
                               <a class="dropdown-item text-black fw-bold"
                                   asp-controller="Categories"
                                   asp-action="Statistics">
                                   <img src="~/Resources/Img/Icon1.png"
                                        style="width:30px;height:auto;padding-right:0.5rem;">
                                   Thống Kê
                               </a>
                            </div>
                        </div>
                    </li>    *@                
                </ul>
            </div>
            <!--Content of page-->
            <div id="Content_Panel">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
    </div>
        

    <!--Footer-->
    <footer class="border-top text-muted">
        <div class="container-fluid" id="Login_Footer">
            <div style="float:left; display:inline;">
                <b style="color:#d72235;">&copy; 2024 - Đại học Văn Lang<br></b>
                <b>Khoa Công Nghệ Thông Tin</b>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
