<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"  />
    <title>@ViewData["Title"] - CAPSTONE_TEAM01_2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CAPSTONE_TEAM01_2024.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow" id="Login_Top_Nav" style="height:8vh;">
            <!-- Logo and name / Left navbar -->
            <div class="container-fluid">
                <img src="~/Resources/Img/logoVL.png" class="brand-image elevation-3" style="width: 50px; height: auto;>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b class="m-2 text-white text-center">QUẢN LÝ CÔNG TÁC<br>CỐ VẤN HỌC TẬP</b></a>

                <!-- Space coz im clueless -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                </div>

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <li class="user-panel mt-1 pb-1 mb-1 d-flex">
                        <div class="image">
                            <img src="~/Resources/Img/user2-160x160.jpg" class="rounded-circle elevation-2" alt="User Image" style="width: 50px; height: auto;">
                        </div>
                        <div class="info">
                            <a class="text-white d-block" href="#">@User.Identity!.Name</a>
                        </div>
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"></a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-action="logout" asp-controller="users">
                            <button type="submit" class="nav-link btn btn-link text-dark">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Content of pages-->
    <div class="container-fluid d-flex flex-collumn" id="Content_Display">
            <!--Side Navbar-->
        <div class ="p-3 box-shadow" id="SideNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item text-center">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">
                        <img src="~/Resources/Img/Icon2.png" style="width:30px;height:auto;padding-right:0.5rem;">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <div class ="dropdown show">
                            <a class="text-dark btn dropdown-toggle fw-bold"
                               id="dropdownMenuLink"                            
                               href="#" role="button" 
                               data-toggle="dropdown" 
                               aria-haspopup="true" 
                               aria-expanded="false"
                               data-bs-toggle="dropdown"
                               style="width:100%;">
                                    <img src="~/Resources/Img/Icon1.png" 
                                         style="width:30px;height:auto;padding-right:0.5rem;">
                                    Danh Mục
                            </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:100%;">
                                <a class="dropdown-item text-black fw-bold" 
                                   asp-controller="Categories" 
                                   asp-action="SchoolYear">Năm Học</a>
                                <a class="dropdown-item text-black fw-bold"
                                   asp-controller="Categories"
                                   asp-action="SemesterPlan">Kế hoạch học kỳ</a>
                                <a class="dropdown-item text-black fw-bold"
                                   asp-controller="Categories"
                                   asp-action="EndSemesterReport">Báo cáo cuối kì</a>
                                <a class="dropdown-item text-black fw-bold"
                                   asp-controller="Categories"
                                   asp-action="Statistics">Thống kê</a>
                            </div>
                        </div>
                    </li>                   
                </ul>
            </div>
            <!--Content of page-->
            <div id="Content_Panel">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
    </div>
        

    <!--Footer-->
    <footer class="border-top text-muted">
        <div class="container-fluid" id="Login_Footer">
            <div style="float:left; display:inline;">
                <b style="color:#d72235;">&copy; 2024 - Van Lang University<br></b>
                <b>IT Department</b>
            </div>
            <div style="float:right;">
                <b style="color:#d72235;">CAPSTONE 2024 - TEAM 01<br></b>
                <b>Software Engineer Major</b>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
